<h1><%= link_to @post.title, @post.url %></h1>
<%= "#{@post.comments.size} comments" %>
<br />
<% @comments.each do |comment| %>
  <%= comment.content %>
  <br />
<% end %>

<h2>Leave a comment</h2>
<%= form_for @comment, url: post_comments_path(@post) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Comment!" %>
<% end %>
